<link rel="stylesheet" type="text/css" href="/public/css/nav.css">


<div class="nav">
  <div>
    <a href="/">Home</a>
    <a href="/price">Price</a>
    <a href="/condition">Condition</a>
    <a href="/rental">Rentals Only</a>
    <a href="/purchase">Purchase Only</a>
    <a href="/alphabetical">Alphabetical</a>
  </div>
</div>
<br><br>