/*
 * Label and Search Bar
 */
 .label {
    font-size: 38px; 
    color: #1B4079;
    padding: 50px 0px 10px 0px;
}

#search-label {
    color: #1B4079;
    font-size: 20px;
    font-weight: bold;
    margin-top: 50px;
    /*margin-top: 35px;*/
}

#search-input {
    padding:6px;
    border-radius: 5px;
}

#add-book {
    display: 'inline';
    padding: 15px 3% 15px 3%;
    border-radius: 7px;
    background-color: #1B4079;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 45px;
}