:root {
    --left-pad: 10%;
    --top-pad: 50px;
}

/*
 * Form Display 
 */
article {
    border-radius: 8px;
    border: 3px solid #1B4079;
    display: inline-block;
    width: 75%;
    padding-top: -20px;
    background-color: rgb(250, 250, 250);
    margin: 40px;
}

#new-book-form {
    padding: 25px;
    text-align: left;
}

#header {  
    color: rgb(250, 250, 250);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 0px;
    padding-top: 25px;
    padding-left: 5px;
    padding-bottom: 25px;
    margin: -1px;
    background-color: #1B4079;
}

/* 
 * Input fields
 */
label {
    font-size: 20px;
}

input {
    padding: 5px;
    margin-left: 5px;
    font-size: 16px;
}

/* Book Name */
#bookname-div {
    float: left;
    display: block;
    padding-left: var(--left-pad);
}

/* Price */
#price-div {
    float: right;
    display: block;
    padding-right: var(--left-pad);
}

/* Condition */
#condition-div {
    clear: both;
    padding-left: var(--left-pad);
    padding-top: var(--top-pad);
    display: block;
}

.condition-wrapper {
    padding-left: 11%;
    display: inline-block;
    text-align: center;
}

.condition-wrapper label {
    display: block;
}

input[type = radio] {
    width: 100%;
    height: 1.2em;
}

/* Courses */
#courses-div {
    display: block;
    padding-left: var(--left-pad);
    padding-top: var(--top-pad);   
}

#course-list {
    text-align: left; 
    padding-left: 25%;
}

.delete-button {
    margin-left: 15px;
    background-color: red;
    border-color: rgb(255, 20, 20);
    color: white;
}

/* Submit Button */
#submit-button-div {
    text-align: center;
}

#submit-button {
    padding: 20px 2% 20px 2%;
    border-radius: 7px;
    background-color: #1B4079;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin: 100px 0 var(--top-pad) 0;
}

/* Rent */
#rental-switch {
    position: relative;
    display: block;
    margin-top: 50px;
    padding: 0px;
    margin-left: var(--left-pad);
    width: 60px;
    height: 34px;
}

#rental-switch input {
    opacity: 0; height: 0; width: 0;
}

.slider-round {
    border-radius: 34px;
    margin-left: 100%;
    position: absolute;
    cursor: pointer;
    margin-top: -4px;
    margin-bottom: 4px;
    top: 0; left: 0; right: 0; bottom: 0;
    padding-right: 65px;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider-round:before {
    border-radius: 50%;
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider-round {
    background-color: #1B4079
}

input:checked + .slider-round:before {
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rent Return Date */
#return-date {
    margin-top: 50px;
    display: none;
}

#return-date select {
    font-size: 16px; 
}

#return-date label {
    float: left;
    padding-left: var(--left-pad);
    padding-right: 15px;
}

.date-input {
    height: 25px;
    padding: 0px;
}

#Month {
    height: 30px;
}

/* Email Address */
#email-div {
    display: block;
    padding-left: var(--left-pad);
    padding-top: var(--top-pad);
}

/*
 * Adjust application size to window size
 */
@media (max-width: 1200px) {
    .condition-wrapper { padding-left: 8%; }
    :root { --left-pad: 5%; }
}

@media (max-width: 930px){
    #bookname-div {
        float: none;
    }

    #price-div {
        float: none;
        text-align: left;
        padding-top: 50px;
        padding-right: 0px;
        padding-left: var(--left-pad);
    }

    input[type = radio] {
        height: 1em;
    }

    .condition-wrapper {
        padding-left: 3.5%;
    }
}

@media (max-width: 710px) {
    .condition-wrapper { padding-left: 0px; }
    #book { width: 190px; }
    #email { width: 190px; }
}